@page "/fetchdata"

@using BlazorPresentationDemo.Shared.Services
@using BlazorPresentationDemo.Shared.Models
@inject WeatherForecastService forecastService
@inject IConfiguration configuration


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<div class="btn-group" role="group">
    @foreach (var c in cities)
    {
        <button type="button" class="btn btn-info" @onclick="@(e => LoadForecast(c.city, c.countryCode))">@c.display</button>
    }
</div>

<br />
<br />
<WeatherForecast Data="forecasts"></WeatherForecast>

@code {
    WeatherForecastItem[] forecasts;

    (string city, string countryCode, string display)[] cities = new[]
    {
        ("silkeborg", "dk", "Silkeborg"),
        ("aarhus", "dk", "Aarhus"),
        ("copenhagen", "dk", "København"),
        ("lloyney", "gb", "Lloyney, GB"),
        ("muscat", "om", "Muscat, OM")
    };

    protected override async Task OnInitializedAsync()
    {
        await LoadForecast("silkeborg", "dk");
    }

    private async Task LoadForecast(string city, string countryCode)
    {
        forecasts = null;
        forecasts = await forecastService.GetForecastAsync(city, countryCode, configuration["WeatherApiKey"]);
    }
}
