@inherits LayoutComponentBase
@inject State.AppState appState
@implements IDisposable

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @appState.GlobalMessage
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


@code {

    protected override void OnInitialized()
    {
        appState.GlobalMessageChanged += AppState_GlobalMessageChanged;
    }

    public void AppState_GlobalMessageChanged() => StateHasChanged();

    public void Dispose() => appState.GlobalMessageChanged -= AppState_GlobalMessageChanged;
}
